extends ../layouts/main-layout.pug
block content 
    form(action="/admin/add-product" method="post")

        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        div.form-group.row
            label( for="name").col-sm-2.col-form-label Admin Name
            div.col-md-10
                input( type="text"  name="name")#name.form-control

        div.form-group.row
            label( for="price").col-sm-2.col-form-label Price
            div.col-md-10
                input( type="text"  name="price")#price.form-control

        div.form-group.row
            label( for="categoryid").col-sm-2.col-form-label Selected Category
            div.col-md-10
                select( name="categoryid")#categoryid.form-control
                    option(value="-1") Select Category
                    each category in categories
                        option(value=`${category._id}`) #{category.name}

        div.form-group.row
            label( for="description").col-sm-2.col-form-label Description
            div.col-md-10
                textarea( type="text"  name="description")#description.form-control
        div.form-group.row
            label( for="imageUrl").col-sm-2.col-form-label Image
            div.col-md-10
                input( type="text"  name="imageUrl")#imageUrl.form-control

        div.form-group.row
            div.col-md-10.offset-sm-2
                input(type="submit" value="Save Admin").btn.btn-primary