extends ../layouts/main-layout.pug

block content
    if(action !== 'undefined' &&action === 'create')
        div.alert.alert-success(role="alert") Admin Created
    if(action !== 'undefined' &&action === 'edit')
        div.alert.alert-success(role="alert") Admin Updated
    if action !== 'undefined' &&action === 'delete'
        div.alert.alert-danger(role="alert") category is deleted
    .row
        if typeof categories && categories.length > 0
           table.table.table-bordered
                thead
                    tr
                        th Name
                        th Description
                        th(style="width:133px;") Action
                tbody
                    each category in categories
                        tr
                            td #{category.name}
                            td #{category.description}
                            td
                                a.btn.btn-primary.btn-sm.mr-2(href=`/admin/categories/${category._id}`) Edit
                                form(action=`/admin/delete-category` method='POST' style="display: inline-block")
                                    input(type="hidden" name="categoryid" value=`${category._id}`)
                                    button.btn.btn-danger.btn-sm(type="submit") Delete
        else
            h1 No categories found