extends ../layouts/main-layout.pug
block content
    form(action="/admin/categories" method="post")
        div.form-group.row
            label( for="name").col-sm-2.col-form-label Category Name
            div.col-md-10
                input( type="text"  name="name" value=`${category.name}`)#name.form-control
        input( type="hidden"  name="categoryid" value=`${category._id}`)
        div.form-group.row
            label( for="description").col-sm-2.col-form-label Description
            div.col-md-10
                textarea( type="text"  name="description")#description.form-control #{category.description}

        div.form-group.row
            div.col-md-10.offset-sm-2
                input(type="submit" value="Save Category").btn.btn-primary