extends ../layouts/main-layout.pug

block content
    if(action !== 'undefined' &&action === 'edit')
        div.alert.alert-success(role="alert") Admin Updated
    .row
        if typeof products && products.length > 0
           table.table.table-bordered
                thead
                    tr
                        th Image
                        th Name
                        th Price
                        th Action
                tbody
                    each product in products
                        tr
                            td
                                img(src=`/img/${product.imageUrl}`, width="80")
                            td #{product.name}
                            td #{product.price} TL
                            td
                                a.btn.btn-primary.btn-sm(href=`/admin/products/${product.id}`) Edit
        else
            h1 No products found