extends ../layouts/main-layout.pug
block content
    if errorMessage
        div.alert.alert-danger.text-center #{errorMessage}
    form(action="/login" method="post")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        div.form-group.row
            label( for="email").col-sm-2.col-form-label Email
            div.col-md-10
                input( type="text"  name="email")#email.form-control

        div.form-group.row
            label( for="password").col-sm-2.col-form-label Password
            div.col-md-10
                input( type="text"  name="password")#password.form-control

        div.form-group.row
            div.col-md-10.offset-sm-2
                input(type="submit" value="Login").btn.btn-primary