extends ../layouts/main-layout.pug
block content
    if errorMessage
        div.alert.alert-danger.text-center #{errorMessage}
    form(action="/new-password" method="post")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        input(type="hidden" name="userId" value=`${userId}`)
        input(type="hidden" name="passwordToken" value=`${passwordToken}`)
        div.form-group.row
            label( for="password").col-sm-2.col-form-label password
            div.col-md-10
                input( type="text"  name="password")#password.form-control
        div.form-group.row
            div.col-md-10.offset-sm-2
                input(type="submit" value="Update Password").btn.btn-primary