div#mySlider.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
            li(data-target="mySlide"  data-slide-to="0").active
            li( data-target="mySlide" data-slide-to="1")
            li(data-target="mySlide" data-slide-to="2")
        div.carousel-inner
            div.carousel-item.active
                img( src="/img/slider1.jpg" alt="").d-block.img-fluid
            div.carousel-item
                img( src="/img/slider2.jpg" alt="").d-block.img-fluid
            div.carousel-item
                img( src="/img/slider3.jpg" alt="").d-block.img-fluid
        a( href="#mySlider" data-slide="prev").carousel-control-prev
            span.carousel-control-prev-icon
        a( href="#mySlider" data-slide="next").carousel-control-next
            span.carousel-control-next-icon